#bingoListPromotores,
#bingoListPromovidos {
    max-height: 400px;
    overflow: auto;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #dff0d8;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #3c763d;
    border-color: #3c763d
}
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
  max-height: 400px;
  overflow: auto;
}
.bs-glyphicons li:hover {
  color: #fff;
  background-color: #dff0d8;
}
.bs-glyphicons li.active {
  background-color: #B3CF95;
}
.bs-glyphicons li {
  float: left;
  width: 12.5%;
  height: 74px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
  cursor: pointer;
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
@media (min-width: 768px) {
    .bs-glyphicons li {
      width: 7.5%;
      font-size: 12px;
    }
}
/*********************/
.ui-tooltip, .arrow:after {
background: white;
border: 2px solid lightgrey;
}
.ui-tooltip {
padding: 10px 20px;
color: lightgrey;
border-radius: 20px;
font: bold 12px "Helvetica Neue", Sans-Serif;
text-transform: uppercase;
box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}
@media print {
    .bs-glyphicons-list {
        max-height: initial;
        overflow: visible;
    }
    .bs-glyphicons .glyphicon {
        font-size: 12px;
    }
    .bs-glyphicons li {
        padding: initial;
        width: 5%;
        height: 43px;
        border: 1px solid #CCC;
    }
    input[type="radio"],
    input[type="checkbox"] {
          margin: initial;
    }
}
.liBingo.red {
    background-color: #F7D3D2;
}
.liBingo.tooltip  {
    position: relative;
    opacity: 1;
}