/*#myChartDiv-menu-item-switchtolog,
#myChartDiv-menu-item-viewsource,
#myChartDiv-menu-item-reload,
#myChartDiv-menu-sep-progression,
#myChartDiv-menu-sep-tools{
    display: none !important;
}*/
#tabla_resultado > table {
    margin: auto;
    width: auto;
    max-width: inherit;
}

#grafica_resultado > div {
    margin: auto;
}

#grafica_resultado-license {
    display: none;
}