/* skin-blue navbar */
.skin-blue .navbar {
    background-image: -webkit-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -o-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#B3CF95),to(#809667));
    background-image: linear-gradient(to bottom,#B3CF95 0,#809667 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3CF95', endColorstr='#809667', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-color: #809667;
}
/* skin-blue logo */
.skin-blue .logo {
    background-image: -webkit-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -o-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#B3CF95),to(#809667));
    background-image: linear-gradient(to bottom,#B3CF95 0,#809667 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3CF95', endColorstr='#809667', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-color: #809667;
    color: #f9f9f9;
}
.skin-blue .logo:hover {
    background: #00a65a;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-image: -webkit-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -o-linear-gradient(top,#B3CF95 0,#809667 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#B3CF95),to(#809667));
    background-image: linear-gradient(to bottom,#B3CF95 0,#809667 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3CF95', endColorstr='#809667', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-color: #B3CF95;
    height: 175px;
    padding: 10px;
    text-align: center;
}